/*-------------------------------------------------------------- # General --------------------------------------------------------------*/
html[data-theme='dark'] section {
  background: #000;
}

html[data-theme='dark'] body {
  font-family: "Open Sans", sans-serif;
  color: #D2D2D2;
}
html[data-theme='dark'] a {
  color: #c32324;
  transition: 0.5s;
}
html[data-theme='dark'] a:hover {
  color: #3c91dd;
  text-decoration: none;
  transition: 0.5s;
}
html[data-theme='dark'] h1, html[data-theme='dark'] h2, html[data-theme='dark'] h3, html[data-theme='dark'] h4, html[data-theme='dark'] h5, html[data-theme='dark'] h6 {
  font-family: "Roboto", sans-serif;
}
/*-------------------------------------------------------------- # Preloader --------------------------------------------------------------*/
html[data-theme='dark'] #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}
html[data-theme='dark'] #preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #c32324;
  border-top-color: #1d1102;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
/*-------------------------------------------------------------- # Back to top button --------------------------------------------------------------*/
html[data-theme='dark'] .back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}
html[data-theme='dark'] .back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #c32324;
  color: #fff;
  transition: all 0.4s;
  border: 2px solid #c32324;
}
html[data-theme='dark'] .back-to-top i:hover {
  background: #000000;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
/*-------------------------------------------------------------- # Disable aos animation delay on mobile devices --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
      transition-delay: 0 !important;
 }
}
/*-------------------------------------------------------------- # Top Bar --------------------------------------------------------------*/
html[data-theme='dark'] #topbar {
  background: #c32324;
  height: 0px;
  font-size: 14px;
  transition: all 0.5s;
  color: #000;
  padding: 0;
}
html[data-theme='dark'] #topbar .contact-info i {
  font-style: normal;
  color: #000;
}
html[data-theme='dark'] #topbar .contact-info i a, html[data-theme='dark'] #topbar .contact-info i span {
  padding-left: 5px;
  color: #000;
}
html[data-theme='dark'] #topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}
html[data-theme='dark'] #topbar .contact-info i a:hover {
  color: #000;
  text-decoration: underline;
}
html[data-theme='dark'] #topbar .social-links a {
  color: rgba(0, 0, 0, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}
html[data-theme='dark'] #topbar .social-links a:hover {
  color: white;
}
/*-------------------------------------------------------------- # Header --------------------------------------------------------------*/
html[data-theme='dark'] #header {
  background: black;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 0px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
}
html[data-theme='dark'] #header.header-scrolled {
  top: 0;
  padding: 15px;
}
html[data-theme='dark'] #header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
html[data-theme='dark'] #header .logo a {
  color: #DDDDDD;
}
html[data-theme='dark'] #header .logo a span {
  color: #c32324;
}
html[data-theme='dark'] #header .logo img {
  max-height: 50px;
}
@media (max-width: 992px) {
  html[data-theme='dark'] #header {
      padding: 15px;
      top: 0;
 }
 html[data-theme='dark'] #header .logo {
      font-size: 28px;
 }
}
/*-------------------------------------------------------------- # Navigation Menu --------------------------------------------------------------*/
/* Desktop Navigation */
html[data-theme='dark'] .nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html[data-theme='dark'] .nav-menu > ul {
  display: flex;
}
html[data-theme='dark'] .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}
html[data-theme='dark'] .nav-menu a {
  display: block;
  position: relative;
  color: #DDDDDD;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}
html[data-theme='dark'] .nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #c32324;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
html[data-theme='dark'] .nav-menu a:hover:before, html[data-theme='dark'] .nav-menu li:hover > a:before, html[data-theme='dark'] .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}
html[data-theme='dark'] .nav-menu a:hover, html[data-theme='dark'] .nav-menu .active > a, html[data-theme='dark'] .nav-menu li:hover > a {
  color: #c32324;
}
html[data-theme='dark'] .nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #000;
  box-shadow: 0px 0px 30px rgba(128, 118, 94, 0.25);
  transition: 0.3s;
}
html[data-theme='dark'] .nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
html[data-theme='dark'] .nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}
html[data-theme='dark'] .nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #f9d4a4;
}
html[data-theme='dark'] .nav-menu .drop-down ul a:hover, html[data-theme='dark'] .nav-menu .drop-down ul .active > a, html[data-theme='dark'] .nav-menu .drop-down ul li:hover > a {
  color: #c32324;
}
html[data-theme='dark'] .nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}
html[data-theme='dark'] .nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}
.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}
html[data-theme='dark'] .nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}
html[data-theme='dark'] .nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
@media (max-width: 1366px) {
  html[data-theme='dark'] .nav-menu .drop-down .drop-down ul {
      left: -90%;
 }
 html[data-theme='dark'] .nav-menu .drop-down .drop-down:hover > html[data-theme='dark'] ul {
      left: -100%;
 }
 html[data-theme='dark'] .nav-menu .drop-down .drop-down > html[data-theme='dark'] a:after {
      content: "\ea9d";
 }
}
/* Mobile Navigation */
html[data-theme='dark'] .mobile-nav-toggle {
  position: fixed;
  right: 20px;
  top: 25px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
html[data-theme='dark'] .mobile-nav-toggle i {
  color: #c32324;
  transition: 0.5s;
}
html[data-theme='dark'] .mobile-nav-toggle:hover i {
  color: #FFFFFF;
  transition: 0.5s;
}
html[data-theme='dark'] .mobile-nav {
  position: fixed;
  top: 75px;
  right: 15px;
 /* bottom: 15px;
  */
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #000;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 0px 0;
}
html[data-theme='dark'] .mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
html[data-theme='dark'] .mobile-nav a {
  display: block;
  position: relative;
  color: #DDDDDD;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}
html[data-theme='dark'] .mobile-nav a:hover, html[data-theme='dark'] .mobile-nav .active > a, html[data-theme='dark'] .mobile-nav li:hover > a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  background-color: #c32324;
}
html[data-theme='dark'] .mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
html[data-theme='dark'] .mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}
html[data-theme='dark'] .mobile-nav .drop-down > a {
  padding-right: 35px;
}
html[data-theme='dark'] .mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
html[data-theme='dark'] .mobile-nav .drop-down li {
  padding-left: 20px;
}
html[data-theme='dark'] .mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(246, 246, 246, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}
html[data-theme='dark'] .mobile-nav-active {
  overflow: hidden;
}
html[data-theme='dark'] .mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}
html[data-theme='dark'] .mobile-nav-active .mobile-nav-toggle i {
  color: #000;
}
/*-------------------------------------------------------------- # Hero Section --------------------------------------------------------------*/
html[data-theme='dark'] #hero {
  width: 100%;
  height: 75vh;
  background: url("../img/hero-bg.jpg") top left;
  background-size: cover;
  position: relative;
}
html[data-theme='dark'] #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
html[data-theme='dark'] #hero .container {
  position: relative;
  padding-top: 132px;
}
@media (max-width: 992px) {
  html[data-theme='dark'] #hero .container {
      padding-top: 58px;
 }
}
html[data-theme='dark'] #hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff85;
  font-family: "Poppins", sans-serif;
}
html[data-theme='dark'] #hero h1 span {
    color: #FFFFFF;
}
html[data-theme='dark'] #hero h2 {
  color: #d6d6d6cb;
  margin: 5px 0 40px 0;
  font-size: 24px;
  font-style: oblique;
}
html[data-theme='dark'] #hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #c32324;
}
html[data-theme='dark'] #hero .btn-get-started:hover {
  background: #fff;
  color: black;
}
html[data-theme='dark'] #hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  position: relative;
  font-weight: 600;
}
html[data-theme='dark'] #hero .btn-watch-video i {
  color: #c32324;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}
html[data-theme='dark'] #hero .btn-watch-video:hover {
  color: #c32324;
}
html[data-theme='dark'] #hero .btn-watch-video:hover i {
  color: #fff;
}
@media (min-width: 1024px) {
  html[data-theme='dark'] #hero {
      background-attachment: fixed;
 }
}
@media (max-width: 768px) {
  html[data-theme='dark'] #hero {
      height: 100vh;
 }
 html[data-theme='dark'] #hero h1 {
      font-size: 28px;
      line-height: 36px;
 }
 html[data-theme='dark'] #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
 }
 html[data-theme='dark'] #hero .btn-get-started, html[data-theme='dark'] #hero .btn-watch-video {
      font-size: 13px;
 }
}
@media (max-height: 500px) {
  html[data-theme='dark'] #hero {
      height: 120vh;
 }
}
/*-------------------------------------------------------------- # Sections General --------------------------------------------------------------*/
html[data-theme='dark'] section {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
html[data-theme='dark'] .section-bg {
  background-color: #000000f5;
}
html[data-theme='dark'] .section-title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
html[data-theme='dark'] .section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #2f0303;
  color: #c32324;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
html[data-theme='dark'] .section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}
html[data-theme='dark'] .section-title h3 span {
  color: #c32324;
}
html[data-theme='dark'] .section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}
@media (min-width: 1024px) {
  html[data-theme='dark'] .section-title p {
      width: 50%;
 }
}
/*-------------------------------------------------------------- # Breadcrumbs --------------------------------------------------------------*/
html[data-theme='dark'] .breadcrumbs {
  padding: 20px 0;
  background-color: #000000e6;
  min-height: 40px;
  margin-top: 90px;
}
@media (max-width: 992px) {
  html[data-theme='dark'] .breadcrumbs {
      margin-top: 80px;
 }
}
html[data-theme='dark'] .breadcrumbs h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 992px) {
  html[data-theme='dark'] .breadcrumbs h2 {
      margin: 0 0 10px 0;
 }
}
html[data-theme='dark'] .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
html[data-theme='dark'] .breadcrumbs ol li + li {
  padding-left: 10px;
}
html[data-theme='dark'] .breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #938a82;
  content: "/";
}
@media (max-width: 768px) {
  html[data-theme='dark'] .breadcrumbs .d-flex {
      display: block !important;
 }
 html[data-theme='dark'] .breadcrumbs ol {
      display: block;
 }
 html[data-theme='dark'] .breadcrumbs ol li {
      display: inline-block;
 }
}
/*-------------------------------------------------------------- # Featured Services --------------------------------------------------------------*/
html[data-theme='dark'] .featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: black;
  box-shadow: 0 0 29px 0 rgba(187, 167, 111, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
html[data-theme='dark'] .featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #341f04;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
html[data-theme='dark'] .featured-services .icon-box:hover::before {
  background: #c32324;
  top: 0;
  border-radius: 0px;
}
html[data-theme='dark'] .featured-services .icon {
  margin-bottom: 15px;
}
html[data-theme='dark'] .featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #c32324;
  transition: all 0.3s ease-in-out;
}
html[data-theme='dark'] .featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
html[data-theme='dark'] .featured-services .title a {
  color: #FFF;
}
html[data-theme='dark'] .featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
html[data-theme='dark'] .featured-services .icon-box:hover .title a, html[data-theme='dark'] .featured-services .icon-box:hover .description {
  color: #fff;
}
html[data-theme='dark'] .featured-services .icon-box:hover .icon i {
  color: #fff;
}
/*-------------------------------------------------------------- # About --------------------------------------------------------------*/
html[data-theme='dark'] .about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
html[data-theme='dark'] .about .content ul {
  list-style: none;
  padding: 0;
}
html[data-theme='dark'] .about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}
html[data-theme='dark'] .about .content ul li:first-child {
  margin-top: 35px;
}
html[data-theme='dark'] .about .content ul i {
  background: #000;
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #fff;
  border-radius: 50px;
}
html[data-theme='dark'] .about .content ul h5 {
  font-size: 18px;
  color: #FFF;
}
html[data-theme='dark'] .about .content ul p {
  font-size: 15px;
}
html[data-theme='dark'] .about .content p:last-child {
  margin-bottom: 0;
}
/*-------------------------------------------------------------- # Skills --------------------------------------------------------------*/
html[data-theme='dark'] .skills .progress {
  height: 50px;
  display: block;
  background: none;
}
html[data-theme='dark'] .skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #DDDDDD;
}
html[data-theme='dark'] .skills .progress .skill .val {
  float: right;
  font-style: normal;
}
html[data-theme='dark'] .skills .progress-bar-wrap {
  background: #2b0303;
}
html[data-theme='dark'] .skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #c32324;
}
/*-------------------------------------------------------------- # Counts --------------------------------------------------------------*/
html[data-theme='dark'] .counts {
  padding: 70px 0 60px;
}
html[data-theme='dark'] .counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #ffffff21;
}
html[data-theme='dark'] .counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #c32324;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #000;
}
html[data-theme='dark'] .counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}
html[data-theme='dark'] .counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
/*-------------------------------------------------------------- # Clients --------------------------------------------------------------*/
html[data-theme='dark'] .clients {
  padding: 0px 0;
  text-align: center;
  height: 0;
}
.clients img {
  max-width: 0;
  transition: all 0 .4s ease-in-out;
  display: inline-block;
  padding: 0;
  opacity: 0;
}
html[data-theme='dark'] .clients img:hover {
  transform: scale(1.5);
  opacity: 1.0;
}
@media (max-width: 768px) {
  html[data-theme='dark'] .clients img {
      max-width: 40%;
 }
}
/*-------------------------------------------------------------- # Maps & Builds --------------------------------------------------------------*/
html[data-theme='dark'] .projects .icon-box {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  transition: all ease-in-out 0.3s;
  background: #ffffff21;
  margin-bottom: 30px;
  box-shadow: 0px 0 30px 0 rgba(255, 255, 255, 0.1);
}
html[data-theme='dark'] .projects .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #0e0901;
  border-radius: 4px;
  border: 1px solid #211402;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}
html[data-theme='dark'] .projects .icon-box .icon i {
  color: #c4750d;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}
html[data-theme='dark'] .projects .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}
html[data-theme='dark'] .projects .icon-box h4:hover {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: #c32324;
  cursor: pointer;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}
html[data-theme='dark'] .projects .icon-box h4 a {
  color: #DDDDDD;
  transition: ease-in-out 0.3s;
}
html[data-theme='dark'] .projects .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
html[data-theme='dark'] .projects .icon-box:hover {
 /* NOTE TO SELF */
  border-color: #000;
  box-shadow: 0px 0 30px 0 rgba(255, 255, 255, 0.35);
  transform: scale(1.05);
  background: #ffffff14;
}
html[data-theme='dark'] .projects .icon-box:hover h4 a, html[data-theme='dark'] .projects .icon-box:hover .icon i {
  color: #c32324;
}
html[data-theme='dark'] .projects .icon-box:hover .icon {
  border-color: #c32324;
}
/*-------------------------------------------------------------- # Testimonials --------------------------------------------------------------*/
html[data-theme='dark'] .testimonials {
  padding: 80px 0;
  background: url("../img/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
html[data-theme='dark'] .testimonials.bg2{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: url("../img/") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: #1c1e2f;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
html[data-theme='dark'] .testimonials.bg2:hover{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: url("../img/") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: #1c1e2f;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.5s;
  transform: scale(1.05);
}
html[data-theme='dark'] .testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
}
html[data-theme='dark'] .testimonials.bg2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}
html[data-theme='dark'] .testimonials .section-header {
  margin-bottom: 40px;
}
html[data-theme='dark'] .testimonials .testimonial-item {
  text-align: center;
  color: #000;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item {
  text-align: center;
  color: rgb(0, 0, 0);
}
html[data-theme='dark'] .testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 0, 0, 0.3);
  margin: 0 auto;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid #394083c4;
  margin: 0 auto;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}
html[data-theme='dark'] .testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: rgb(255, 187, 0);
}
html[data-theme='dark'] .testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #959595;
  margin: 0 0 15px 0;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item h4 {
  font-size: 14px;
  color: rgb(211, 211, 211);
  margin: 0 0 15px 0;
}
html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-left, html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-left, html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-left {
  color:rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item .quote-icon-left, html[data-theme='dark'] .testimonials.bg2 .testimonial-item .quote-icon-right {
  color: #394083;
  font-size: 26px;
}
html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
html[data-theme='dark'] .testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
html[data-theme='dark'] .testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #fff;
}
html[data-theme='dark'] .testimonials.bg2 .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: rgb(255, 255, 255);
}
html[data-theme='dark'] .testimonials .owl-nav, html[data-theme='dark'] .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}
html[data-theme='dark'] .testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}
html[data-theme='dark'] .testimonials.bg2 .owl-dot {
  display: none;
}
html[data-theme='dark'] .testimonials .owl-dot.active {
  background-color: #fff !important;
}
html[data-theme='dark'] .testimonials.bg2 .owl-dot.active {
  display: none;
}
@media (min-width: 1024px) {
  html[data-theme='dark'] .testimonials {
      background-attachment: fixed;
 }
}
@media (min-width: 992px) {
  html[data-theme='dark'] .testimonials .testimonial-item p {
      width: 80%;
 }
}
/*-------------------------------------------------------------- # Portfolio --------------------------------------------------------------*/
html[data-theme='dark'] .portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}
html[data-theme='dark'] .portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #BBBBBB;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
html[data-theme='dark'] .portfolio #portfolio-flters li:hover, html[data-theme='dark'] .portfolio #portfolio-flters li.filter-active {
  color: #c32324;
}
html[data-theme='dark'] .portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
html[data-theme='dark'] .portfolio .portfolio-item {
  margin-bottom: 30px;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  color: #DDDDDD;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info p {
  color: #AAAAAA;
  font-size: 14px;
  margin-bottom: 0;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info .preview-link, html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #c3c3c3;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info .preview-link:hover, html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #c32324;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-links a {
  color: #000;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
html[data-theme='dark'] .portfolio .portfolio-item .portfolio-links a:hover {
  color: #94580a;
}
html[data-theme='dark'] .portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}
/*-------------------------------------------------------------- # Portfolio Details --------------------------------------------------------------*/
html[data-theme='dark'] .portfolio-details {
  padding-top: 30px;
}
html[data-theme='dark'] .portfolio-details .portfolio-details-container {
  position: relative;
}
html[data-theme='dark'] .portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}
html[data-theme='dark'] .portfolio-details .portfolio-details-carousel .owl-nav, html[data-theme='dark'] .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}
.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #222 !important;
}
html[data-theme='dark'] .portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #c32324 !important;
}
html[data-theme='dark'] .portfolio-details .portfolio-info {
  padding: 30px;
  padding-bottom: 10px;
  position: absolute;
  right: 4%;
  border-radius: 10px;
  bottom: 8%;
  background: #000;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  z-index: 2;
}
html[data-theme='dark'] .portfolio-info:hover {
  padding: 30px;
  padding-bottom: 10px;
  position: absolute;
  right: 4%;
  border-radius: 10px;
  bottom: 8%;
  background: #000;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  z-index: 2;
  transform: scale(1.05);
}
html[data-theme='dark'] .portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #111;
}
html[data-theme='dark'] .portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
html[data-theme='dark'] .portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
html[data-theme='dark'] .portfolio-details .portfolio-description {
  padding-top: 0px;
}
html[data-theme='dark'] .portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
html[data-theme='dark'] .portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}
@media (max-width: 768px) {
  html[data-theme='dark'] .portfolio-details .portfolio-description h2 {
      width: 100%;
 }
 html[data-theme='dark'] .portfolio-details .portfolio-info {
      position: static;
      margin-top: 30px;
 }
}
/*-------------------------------------------------------------- # Team --------------------------------------------------------------*/
html[data-theme='dark'] .team {
  padding: 60px 0;
}
html[data-theme='dark'] .team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #000;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.05);
}
html[data-theme='dark'] .team .member .member-img {
  position: relative;
  overflow: hidden;
  height: auto;
}
html[data-theme='dark'] .team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
html[data-theme='dark'] .team .member .social a {
  transition: color 0.3s;
  color: #DDDDDD;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(239, 145, 21, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #000;
}
html[data-theme='dark'] .team .member .social a:hover {
  background: #c4750d;
}
html[data-theme='dark'] .team .member .social i {
  font-size: 18px;
}
html[data-theme='dark'] .team .member .member-info {
  padding: 20px 15px 8px 15px;
}
html[data-theme='dark'] .team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #DDDDDD;
  /*! padding-top: ; */
}
/*.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #555555;
}
*/
html[data-theme='dark'] .team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #888888;
}
html[data-theme='dark'] .team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
/*-------------------------------------------------------------- # Pricing --------------------------------------------------------------*/
html[data-theme='dark'] .pricing .box {
  padding: 20px;
  background: #000;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
html[data-theme='dark'] .pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #888888;
  background: #070707;
}
html[data-theme='dark'] .pricing .box h4 {
  font-size: 36px;
  color: #c32324;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
html[data-theme='dark'] .pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
html[data-theme='dark'] .pricing .box h4 span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
html[data-theme='dark'] .pricing .box ul {
  padding: 0;
  list-style: none;
  color: #BBBBBB;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
html[data-theme='dark'] .pricing .box ul li {
  padding-bottom: 16px;
}
html[data-theme='dark'] .pricing .box ul i {
  color: #c32324;
  font-size: 18px;
  padding-right: 4px;
}
html[data-theme='dark'] .pricing .box ul .na {
  color: #888;
  text-decoration: line-through;
}
html[data-theme='dark'] .pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #070707;
  text-align: center;
}
html[data-theme='dark'] .pricing .btn-buy {
  background: #c32324;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border: 1px solid #c32324;
  font-weight: 600;
  transition: 0.3s;
}
html[data-theme='dark'] .pricing .btn-buy:hover {
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: black;
  transition: 0.3s;
}
html[data-theme='dark'] .pricing .featured h3 {
  color: #fff;
  background: #c32324;
}
html[data-theme='dark'] .pricing .advanced {
  width: 250px;
  position: absolute;
  top: 22px;
  right: -88px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 16px;
  padding: 3px 0 3px 0;
  background: #00000079;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
/*-------------------------------------------------------------- # Frequently Asked Questions --------------------------------------------------------------*/
html[data-theme='dark'] .faq {
  padding: 60px 0;
}
html[data-theme='dark'] .faq .faq-list {
  padding: 0;
  list-style: none;
}
html[data-theme='dark'] .faq .faq-list li {
  padding: 0 0 20px 25px;
}
html[data-theme='dark'] .faq .faq-list a {
  display: block;
  position: relative;
  font-family: #c32324;
  font-size: 18px;
  font-weight: 500;
}
html[data-theme='dark'] .faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}
html[data-theme='dark'] .faq .faq-list p {
  margin-bottom: 20px;
  font-size: 15px;
}
html[data-theme='dark'] .faq .faq-list a.collapse {
  color: #c32324;
}
html[data-theme='dark'] .faq .faq-list a.collapsed {
  color: #cbc5bf;
}
html[data-theme='dark'] .faq .faq-list a.collapsed:hover {
  color: #c32324;
}
html[data-theme='dark'] .faq .faq-list a.collapsed i::before {
  content: "\eab2" !important;
}
/*-------------------------------------------------------------- # Contact --------------------------------------------------------------*/
html[data-theme='dark'] .contact .info-box {
  color: #BBBBBB;
  text-align: center;
  box-shadow: 0 0 30px rgba(41, 40, 39, 0.3);
  padding: 20px 0 30px 0;
  background: #1a1a1a;
}
html[data-theme='dark'] .contact .info-box i {
  font-size: 32px;
  color: #c32324;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #4c2e05;
}
html[data-theme='dark'] .contact .info-box h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
}
html[data-theme='dark'] .contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
html[data-theme='dark'] .contact .php-email-form {
  box-shadow: 0 0 30px rgba(41, 40, 39, 0.4);
  padding: 30px;
  background: #1a1a1a;
}
html[data-theme='dark'] .contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
html[data-theme='dark'] .contact .php-email-form .error-message {
  display: none;
  color: #000;
  background: #c32324;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
html[data-theme='dark'] .contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
html[data-theme='dark'] .contact .php-email-form .sent-message {
  display: none;
  color: #000;
  background: #e72d91;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
html[data-theme='dark'] .contact .php-email-form .loading {
  display: none;
  background: #000;
  text-align: center;
  padding: 15px;
}
html[data-theme='dark'] .contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #e72d91;
  border-top-color: #111;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
html[data-theme='dark'] .contact .php-email-form input, html[data-theme='dark'] .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
html[data-theme='dark'] .contact .php-email-form input:focus, html[data-theme='dark'] .contact .php-email-form textarea:focus {
  border-color: #c32324;
  background: #495057;
  color: white;
}
html[data-theme='dark'] .contact .php-email-form input {
  padding: 20px 15px;
}
html[data-theme='dark'] .contact .php-email-form textarea {
  padding: 12px 15px;
}
html[data-theme='dark'] .contact .php-email-form button[type="submit"] {
  background: #c32324;
  border: 2px solid #c32324;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
html[data-theme='dark'] .contact .php-email-form button[type="submit"]:hover {
  background: #ffffff;
  border: 2px solid black;
  color: black;
}
@-webkit-keyframes animate-loading {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
/*-------------------------------------------------------------- # Footer --------------------------------------------------------------*/
html[data-theme='dark'] #footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #FFF;
  font-size: 14px;
  background: black;
}
html[data-theme='dark'] #footer .footer-newsletter {
  padding: 50px 0;
  background: #0e0901;
  text-align: center;
  font-size: 15px;
}
html[data-theme='dark'] #footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
html[data-theme='dark'] #footer .footer-newsletter form {
  margin-top: 30px;
  background: #000;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.06);
  text-align: left;
}
html[data-theme='dark'] #footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
html[data-theme='dark'] #footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #c32324;
  color: #000;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
}
html[data-theme='dark'] #footer .footer-newsletter form input[type="submit"]:hover {
  background: #f2a745;
}
html[data-theme='dark'] #footer .footer-top {
  padding: 60px 0 30px 0;
  background: #000;
}
html[data-theme='dark'] #footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
html[data-theme='dark'] #footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 0 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
html[data-theme='dark'] #footer .footer-top .footer-contact h3 span {
  color: #c32324;
}
html[data-theme='dark'] #footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  color: #888888;
}
html[data-theme='dark'] #footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #BBBBBB;
  position: relative;
  padding-bottom: 12px;
}
html[data-theme='dark'] #footer .footer-top .footer-links {
  margin-bottom: 30px;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #c32324;
  font-size: 18px;
  line-height: 1;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul a {
  color: #888888;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
html[data-theme='dark'] #footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #c32324;
}
html[data-theme='dark'] #footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #c32324;
  color: #000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
html[data-theme='dark'] #footer .footer-top .social-links a:hover {
  background: #c4750d;
  color: #000;
  text-decoration: none;
}
html[data-theme='dark'] #footer .copyright {
  text-align: center;
  float: left;
}
html[data-theme='dark'] #footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #BBBBBB;
}
@media (max-width: 768px) {
  html[data-theme='dark'] #footer .copyright, html[data-theme='dark'] #footer .credits {
      float: none;
      text-align: center;
      padding: 2px 0;
 }
}
html[data-theme='dark'] .about-us h3{
  padding-bottom: 10px;
}
html[data-theme='dark'] .about-us p{
  font-style: oblique;
}
html[data-theme='dark'] .about-us h3 span {
  color: #c32324;
}
html[data-theme='dark'] .img-fluid.about {
  border: #c32324;
  border-style: double;
  border-width: 10px;
}
html[data-theme='dark'] .contact-us {
  justify-content: center;
}
/* NOTE TO SELF */
html[data-theme='dark'] .box-image {
  border-radius: 10px;
  padding-bottom: 15px;
}
html[data-theme='dark'] .bottom-left {
  position: absolute;
 /* translate: 3% -128%;
  */
  top: 3%;
  left: 3%;
  padding: 2px 8px 2px 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: rgba(255, 255, 255, 0.55);
  display:none;
}
html[data-theme='dark'] .bottom-left .value{
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
}
html[data-theme='dark'] #parent:hover .hoverevent {
  display:block;
  transition: 0.3s;
}
html[data-theme='dark'] #parent:hover .bottom-left {
  display:none;
  transition: 0.3s;
}
html[data-theme='dark'] .verified {
  color: rgb(253, 59, 253);
  font-size: 15px;
}
html[data-theme='dark'] .verified-test {
  font-size: 15px;
  color: white;
}
html[data-theme='dark'] #parent:hover .box-highlight {
  display:block;
}
html[data-theme='dark'] .alert-success {
  color: #fff;
  background-color: #c32324;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  border-color: rgba(0, 0, 0, 0);
}
html[data-theme='dark'] .alert-success:hover {
  color: #fff;
  background-color: #c32324;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  transition: 0.5s;
}
html[data-theme='dark'] code {
  color: rgb(255, 255, 255);
  background-color: #ff3b3bcb;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
html[data-theme='dark'] code:hover {
  color:rgb(255, 255, 255);
  background-color: #c32324;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 4px;
}
html[data-theme='dark'] .code-1 {
  color: #fff;
  background-color: #c32324;
  padding: 4px;
  border-radius: 4px;
}
html[data-theme='dark'] .code-1 a {
  color: #fff;
}
html[data-theme='dark'] .alert-danger .alert-link {
  font-weight: 700;
  color: #007bff;
  text-decoration: underline;
}
html[data-theme='dark'] .alert-danger .alert-link:hover {
  font-weight: 700;
  color: #005abb;
  text-decoration: underline;
}
html[data-theme='dark'] .alert-danger {
  color: #fff;
  background-color: #4242428f;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 5px solid #c32324;
  font-size: 16px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  padding-left: 2.5%;
  line-height: 1.8;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  transition: 0.5s;
}
html[data-theme='dark'] .alert-danger:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: 0.5s;
}
/* box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.2);
*/
html[data-theme='dark'] .icon-red {
  position: absolute;
  font-size: 30px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  top: 6%;
  left: 2%;
  color: #c32324;
  scale: 100%;
}
html[data-theme='dark'] .icon-green {
  position: absolute;
  font-size: 30px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  top: 6%;
  left: 2%;
  color: #ca3fcf;
  scale: 100%;
}
html[data-theme='dark'] .red-alert {
  border-left: 5px solid #c32324;
}
html[data-theme='dark'] .green-alert {
  border-left: 5px solid #35c030;
}
html[data-theme='dark'] .portfolio-button {
  width: 100%;
  background-color: #c32324;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  font-weight: 500;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
}
html[data-theme='dark'] .portfolio-button:hover {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  font-weight: 500;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.5s;
}
html[data-theme='dark'] th, html[data-theme='dark'] td {
  padding: 15px;
  text-align: left;
  border-radius: 10px;
}
html[data-theme='dark'] .custom-list tr:nth-child(even) {
  background-color: #e5eaf08f;
  margin: 5px;
  border-radius: 10px;
}
html[data-theme='dark'] .custom-list tr:nth-child(odd) {
  background-color: #e5eaf08f;
  margin: 5px;
  border-radius: 10px;
}
html[data-theme='dark'] .custom-list th {
  background-color: black;
  color: white;
  border-radius: 10px;
}
html[data-theme='dark'] .center-text-header {
  text-align: center;
}
html[data-theme='dark'] .alert-pad {
  margin: 0;
  line-height: 2;
}
html[data-theme='dark'] .typewriter {
  overflow: hidden;
 /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 0, 0);
 /* The typwriter cursor */
  white-space: nowrap;
 /* Keeps the content on a single line */
  margin: 0 auto;
 /* Gives that scrolling effect as the typing happens */
  text-align: left;
  color:white;
  animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
      width: 0 
 }
  to {
      width: 100% 
 }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
      border-color: transparent 
 }
  50% {
      border-color: rgb(34, 34, 34);
 }
}
html[data-theme='dark'] .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  border-radius: 10px;

}
html[data-theme='dark'] .portfolio-button.secondary {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  margin-top: 0px;
  color: rgb(145, 145, 145);
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0;
  box-shadow: white 0 0 0;
  border: 0;
}
html[data-theme='dark'] .portfolio-button.secondary:hover {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  margin-top: 0px;
  color: #c32324;
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0;
  box-shadow: white 0 0 0;
  border: 0;
}
html[data-theme='dark'] .bubble {
  width: auto;
  position: inherit;
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.32);
  margin-bottom: 10px;
}
html[data-theme='dark'] .footer-button {
  width: auto;
  background-color: #c32324;
  padding: 4px;
  margin-top: 0px; 
  color: rgb(255, 255, 255); 
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  font-weight: 500;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0);
}
html[data-theme='dark'] .footer-button:hover {
  width: auto;
  background-color: #ffffff;
  padding: 4px;
  margin-top: 0px;
  color: #000;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  font-weight: 500;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  transition: 0.5s;
}
html[data-theme='dark'] .footer-note {
  margin-top: 10px;
  color: rgba(199, 199, 199, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: oblique;
}
html[data-theme='dark'] .bold {
  font-weight: 800;
}
/* Style the tab */
html[data-theme='dark'] .tab {
  overflow: hidden;
}
/* Style the buttons inside the tab */
html[data-theme='dark'] .tab button {
  background-color: #26283f;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 25%;
  transition: 0.3s;
  font-size: 16px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}
/* Change background color of buttons on hover */
html[data-theme='dark'] .tab button:hover {
  background-color: #eae9e3;
  color: white;
}
/* Create an active/current tablink class */
html[data-theme='dark'] .tab button.active {
  background-color: #1c1e2f;
  color: white;
}
/* Style the tab content */
html[data-theme='dark'] .tabcontent {
  display: none;
  padding-left: 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  border-top: none;
  background-color: #1c1e2f;
  color: white;
  font-family: Consolas, Menlo, Monaco, Courier, monospace;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 14px;
  padding-bottom: 1px;
}
html[data-theme='dark'] .biglineheight {
  line-height: 1;
}
html[data-theme='dark'] .smalllineheight {
  line-height: 0.2;
}
html[data-theme='dark'] .code-list {
  color: rgb(211, 211, 211);
}
html[data-theme='dark'] .code-yellow {
  color: rgb(255, 187, 0);
}
html[data-theme='dark'] .code-cyan {
  color: rgb(0, 190, 165);
}
html[data-theme='dark'] .code-gray {
  color: rgb(131, 131, 131);
}
html[data-theme='dark'] .squarelist {
  list-style-type: disc;
}
html[data-theme='dark'] .linkinsetup:hover {
  color: #ffffffd1;
}
.nolistitems {
  list-style-type: none;
}
html[data-theme='dark'] hr.solid {
  border-top: 2px solid #0000001e;
  border-radius: 10px;
}
html[data-theme='dark'] .w3-modal-content {
  width: 500px;
  height: 90px;
  border-radius: 10px;
  background-color: #000000b9;
}
html[data-theme='dark'] .w3-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
}
html[data-theme='dark'] .modal-icon {
  font-size: 100px;
  color: white;
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
}
html[data-theme='dark'] .btn-faq {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 4px;
  transition: 0.5s;
  background: #c32324;
  border: solid #c32324 2px;
  color: white;
}
html[data-theme='dark'] .btn-faq:hover {
  background: #000;
  color: black;
  border: solid black 2px;
}
html[data-theme='dark'] .img-oops {
  max-width: 22%;
  min-width: 300px;
  height: auto;
}
html[data-theme='dark'] .btn-return {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 26px;
  border-radius: 50px;
  transition: 0.5s;
  background: #c32324;
  border: solid #c32324 2px;
  color: white;
}
html[data-theme="dark"] .btn-return:hover {
  background: #fff;
  color: black;
  border: solid black 2px;
}
html[data-theme='dark'] .social-link {
  color: #AAA;
  text-decoration: none;
}
html[data-theme='dark'] .social-link:hover {
  color: #c32324;
  text-decoration: underline;
}
html[data-theme='dark'] .github {
  position: fixed;
  left: 1.5%;
  bottom: 2.2%;
  font-size: 50px;
  color:white;
  opacity: 0.75;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 0.5s;
}
html[data-theme='dark'] .github:hover {
  color:#FFFFFF;
  cursor: pointer;
  opacity: 1.0;
  transition: 0.5s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
html[data-theme='dark'] .img-fluid.team-you {
  height: 0;
  padding-top: 45%;
  text-align: center;
}
html[data-theme='dark'] .member.special {
  text-align: center;
}




html[data-theme='dark'] .github {
  display: none;
  position: fixed;
  left: 1.5%;
  bottom: 10.0%;
  font-size: 42px;
  color: rgb(255, 255, 255);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 1.0s;
  border: rgb(0, 0, 0);
  border-radius: 50px;
  border-width: 5px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.3);
  padding: 3px;
}
html[data-theme='dark'] .github:hover {

  background: rgb(44, 44, 44);
  cursor: pointer;
  transition: 1.0s;
  backface-visibility: hidden;
  box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: subpixel-antialiased;
}

html[data-theme='dark'] .bulb {
  position: fixed;
  left: 1.5%;
  bottom: 2.2%;
  font-size: 35px;
  color: rgb(255, 255, 255);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 1.0s;
  border: rgb(0, 0, 0);
  border-radius: 50px;
  border-width: 5px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.3);
  padding: 6px;
}
html[data-theme='dark'] .bulb:hover {
  
  background: rgb(44, 44, 44);
  cursor: pointer;
  transition: 1.0s;
  backface-visibility: hidden;
  box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: subpixel-antialiased;
}
html[data-theme='dark'] a.github {
  display: contents;
}
html[data-theme='dark'] a.bulb {
  display: contents;
}
html[data-theme='dark'] {
  background: black;
}


html[data-theme='dark'] .h-404{
  color: white;
}
html[data-theme='dark'] .p-404{
  color: white;
}











html[data-theme='dark'] .form-control::placeholder{
  color: #c1c1c1;
  background: #1a1a1a;
}
html[data-theme='dark'] .form-control{
  background: #1a1a1a;
  color:white;
}
